@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #aed6dc;
}
#app-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "title"
    "break-session"
    "timer"
    "start-reset";
  text-align: center;
  padding: 10px;
}
#title {
  font-family: "Londrina Solid";
  letter-spacing: 0.1em;
  color: #2d3341;
  grid-area: title;
}

/* BreakSessionSet styling */
#set-timers-container {
  grid-area: break-session;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#set-timers-container > div {
  border: 4px solid #4a536b;
  background-color: #ff9a8d;
  display: flex;
  flex-direction: column;
  width: 165px;
  margin: 0 10px;
  align-items: center;
  color: #2d3341;
  font-family: "Londrina Solid";
  letter-spacing: 0.1em;
  border-radius: 3%;
  padding: 10px;
}
#break-length,
#session-length {
  margin: 2px auto;
}
#session-decrement,
#session-increment,
#break-decrement,
#break-increment {
  color: #2d3341;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
#break-increment:hover,
#break-decrement:hover,
#session-increment:hover,
#session-decrement:hover {
  transform: scale(1.3);
}

/* CountDownTimer styling */
#countdown-container {
  grid-area: timer;
  margin: 0 auto;
  font-family: "Londrina Solid";
  letter-spacing: 0.1em;
  color: #2d3341;
  border: 4px solid #4a536b;
  border-radius: 3%;
  background-color: #ff9a8d;
  border-bottom: none;
  padding: 5px;
  width: 350px;
}
#time-left {
  font-size: 4em;
}
#timer-controls {
  grid-area: start-reset;
  width: 350px;
  margin: -5px auto;
  border: 4px solid #4a536b;
  border-radius: 3%;
  background-color: #ff9a8d;
  border-top: none;
  padding: 7px;
}
#reset,
#start_stop {
  color: #2d3341;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 3px 6px;
  padding: 0;
}
#start_stop:hover,
#reset:hover {
  transform: scale(1.7);
}
